<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
   <!-- 
   	   <typeAlias alias="Address" type="song.md.domain.Address"/>
   	   <typeAlias alias="Board" type="song.md.domain.Board"/>
   	   <typeAlias alias="BoardVo" type="song.md.domain.BoardVo"/>
   	   <typeAlias alias="Paging" type="song.md.domain.Paging"/>
   	   <typeAlias alias="PagingVo" type="song.md.domain.PagingVo"/>
    -->	   
   </typeAliases>

<!-- 
   <mappers>
   	   <mapper resource="song/md/mapper/AddressMapper1.xml"/>
   	   <mapper resource="song/md/mapper/AddressMapper2.xml"/>
   </mappers>
--> 
</configuration>